apiVersion: apps/v1
kind: Deployment
metadata:
  name: swiggy-deployment
  labels:
    app: swiggy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: swiggy
  template:
    metadata:
      labels: 
        app: swiggy
    spec:
      containers:
        - name: swiggy-cont
          image: honey120ar/swiggy:ed3fc4a
          ports:
            - containerPort: 3000
          imagePullPolicy: Always